<div>
	<h3>Daily Overtime Request Report</h3>
	<p>Hi, <strong><%= @manager.full_name %></strong>. There are new requests for 
		you to review. Please, click the following link to access them. 
	</p>
	<%= link_to 'Access', root_path %>
</div>