.pending-homepage {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
}

.homepage-block {
	background-color: #ADD5F7;
	color: #43464B;
	margin: 25px;
	padding: 25px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	border-radius: 3px;
}

.homepage-block:hover {
	background-color: #4E7AC7;
}

.pending-details {
	font-weight: 700;
}